body.about {
  main {
    h1 {
      margin: 1.2em 0em;
      font-size: 55px;
      color: $white;
      text-align: center;
      @media(max-width: 767px) {
        font-size: 35px;
      }
    }
  }

  footer {
    margin-bottom: 1.5em;
    #social-links {
      display: flex;
      align-items: center;
      justify-content: space-around;

      & > a {
        position: relative;
        font-size: 20vw;

        &:before {
          position: absolute;
          top: 0px; right: 0px; bottom: 0px; left: 0px;
        }
        &[class*="github"] { color: shade($github, 10%); }
        &[class*="twitter"] { color: shade($twitter, 50%); }
        &[class*="linkedin"] { color: shade($linkedin, 50%); }
        &[class*="facebook"] { color: shade($facebook, 50%); }
        i { color: rgba($white, 0.85); }
      }
    }
  }

  /***********************************************/
  /* Desktop ( > 768px )                         */
  /***********************************************/

  @media(min-width: 768px) {
    footer {
      #social-links a {
        top: 0px;
        border-radius: $article-border-radius;
        box-shadow:
          1px 1px 15px 1px rgba(14,58,81,0.2),
          inset 0px -1px 0px 0px rgba(255,255,255,0.1);
        font-size: 165px;
        color: rgba($white, 0.3) !important;
        overflow: hidden;
        transition: all 0.4s;

        i {
          text-shadow: none;
          color: rgba(38, 65, 92, 0.25);
          transition: all 0.4s;
        }

        &:hover {
          top: -10px;
          &[class*="github"] { color: rgba($github, 0.8) !important; }
          &[class*="twitter"] { color: rgba($twitter, 0.8) !important; }
          &[class*="linkedin"] { color: rgba($linkedin, 0.8) !important; }
          &[class*="facebook"] { color: rgba($facebook, 0.8) !important; }
          i { color: rgba($white, 1); }
        }
      }
    }
  }
}
