html {
  @include scaled-background();
}

body {
  margin: 0px;
  padding-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

////////////////////////////////////////////////
// Navigation
////////////////////////////////////////////////

nav {
  @include position(absolute, 0px 0px null 0px);
  @include scaled-background('-blurred');
  box-shadow: 0px 2px 7px #020e11;

  ul {
    @include outer-container;
    li {
      display: inline-block;
      float: left;
      &:first-child a {
        padding-left: 0;
        background: transparent;
      }
    }
  }

  h1 {
    font-family: $logo-font;
    font-size: 28px;
    color: rgba($white, 0.9);
    text-transform: uppercase;
  }

  a {
    display: block;
    padding: 0 1.75em;
    line-height: 50px;
    font-size: 14px;
    color: rgba($white, 0.75);
    @include transition(all, 0.2s);
    &:hover {
      background: rgba($blue, 0.2);
      color: rgba($white, 0.95);
    }
  }
}

////////////////////////////////////////////////
// Main Page
////////////////////////////////////////////////

main {
  @include outer-container;

  article {
    position: relative;
    padding: 15px;
    border-radius: 20px;
    @include scaled-background('-blurred');
    background-color: #1d2025;
    box-shadow:
      0px 0px 20px -5px #020e11,
      inset 0px 2px 0px -1px rgba($off-white, 0.15),
      0px 4px 7px -2px #020e11;
    font-size: 16px;
    color: $off-white;
    letter-spacing: 1px;

    p {
      padding-top: 10px;
      line-height: 28px;
      text-indent: 10px;
    }

    a {
      color: $blue;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

////////////////////////////////////////////////
// Shared Social
////////////////////////////////////////////////

.social-links {
  @include display(flex);

  a {
    position: relative;
    display: inline-block;
    color: rgba($white, 0.4);
    overflow: hidden;
    @include transition(all, 0.5s);

    &:hover {
      i { color: rgba($white, 0.85); }
      &[class*="github"] { color: rgba($github, 0.65);}
      &[class*="twitter"] { color: rgba($twitter, 0.65); }
      &[class*="linkedin"] { color: rgba($linkedin, 0.65); }
      &[class*="facebook"] { color: rgba($facebook, 0.65); }
    }
  }

  i {
    @include position(absolute, 0px);
    @include transition(all, 0.5s);
    color: transparent;
  }
}
