html {
  @include scaled-background();
}

body {
  margin: 0px;
}

////////////////////////////////////////////////
// Navigation
////////////////////////////////////////////////

header {
  @include scaled-background('-blurred');
  box-shadow: 0px 1px 1px rgba(#020e11,0.7);

  nav {
    @include display(flex);
    margin: auto;
    max-width: $max-width;

    a {
      line-height: 50px;
      color: rgba($white, 0.75);
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      // Humani.se Logo
      &:first-child {
        @include flex(1);
        padding: 0 0.65em;
        h1 {
          font-family: $logo-font;
          color: rgba($white, 0.9);
          text-transform: uppercase;
          @include transition(color 0.2s);
        }
        img {
          display: none;
        }
      }

      // Navigation Links
      &:nth-child(n+2) {
        padding: 0 1.75em;
        &.selected {
          box-shadow: inset 0px -2px 0px 0px $blue;
          color: $white;
        }
      }
    }
  }
}

////////////////////////////////////////////////
// Main Page
////////////////////////////////////////////////

main {
  margin: auto;
  padding: 0px 10px;
  max-width: $max-width;
  overflow: auto;


  article {
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.25em;
    border-radius: $article-border-radius;
    background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=#242B37ff&noise=626262&density=15&opacity=15";
    @include scaled-background('-blurred');
    background-color: #242B37;
    box-shadow:
      inset 0px 1px 0px 0px rgba(236, 244, 249, 0.15),
      0px 1px 1px 0px rgba(2, 14, 17, 0.7),
      inset 0px -50px 100px -40px #181c22;

    font-size: 18px;
    color: $off-white;

    &.comments {
      background: #242B37;
    }

    p {
      line-height: 1.68em;
      letter-spacing: 0.03em;
      word-spacing: 0.075em;
      text-indent: 10px;

      a {
        font-weight: bold;
      }
    }

    a {
      color: $blue;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

/***********************************************/
/* Desktop ( > 768px )                         */
/***********************************************/

@media(min-width: 768px) {
  main {
    article {
      box-shadow:
        inset 0px 1px 0px 0px rgba(236, 244, 249, 0.15),
        0px 1px 1px 0px rgba(2, 14, 17, 0.7);
    }
  }
}












////////////////////////////////////////////////
// Shared Social
////////////////////////////////////////////////

// .social-links {
//   @include display(flex);
//
//   a {
//     display: inline-block;
//     position: relative;
//     color: rgba($white, 0.4);
//     overflow: hidden;
//     @include transition(all, 0.5s);
//
//     &:hover {
//       margin-top: -5px;
//       i { color: rgba($white, 0.85); }
//       &[class*="github"] { color: rgba($github, 0.65);}
//       &[class*="twitter"] { color: rgba($twitter, 0.65); }
//       &[class*="linkedin"] { color: rgba($linkedin, 0.65); }
//       &[class*="facebook"] { color: rgba($facebook, 0.65); }
//     }
//   }
//
//   i {
//     @include position(absolute, 0px);
//     @include transition(all, 0.5s);
//     color: transparent;
//   }
// }
