
/***********************************************/
/* Embedded Gists                              */
/***********************************************/

.gist {
  overflow: auto;

  .gist-file {
    border: 1px solid #3f4549 !important;
    background-color: #2B2B2B;

    .gist-data {
      border: 0px;
      background-color: inherit;
      .blob-code {
        font-size: 1.25em;
      }
      .highlight {
        background-color: #2B2B2B;
      }
      .blob-code-inner {
        color: #F4F1ED;
        // white-space:normal;
      }
      .blob-num {
        border: 0px;
        background-color: #3f4549;
        color: lighten(#3f4549, 20%);
        font-size: 14px;
      }
      .pl-e, .pl-smi {
        color: #fff;
      }
      .pl-en {
        color: #8fc2ba;
      }
      .pl-c1 {
        color: #81adc9;
      }
      .pl-k {
        color: #af91bd;
      }
      .pl-v {
        color: #f49f5c;
      }
      .pl-sr, .pl-s, .pl-pds {
        color: #b4c978;
      }
      .pl-ent, .pl-s1 {
        color: #63ab66;
      }
    }
  }
}

code[data-gist-title] {
  display: block;
  padding: 2px 4px 4px;
  background-color: #3f4549;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 12pt;

  & + code[data-gist-id] .gist .gist-file {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

code:not([data-gist-id]):not([data-gist-title]) {
  background-color: #2b2b2b;
  border: 1px solid #3f4549;
  padding: 2px 4px 4px;
  font-size: 16px;
  border-radius: 3px;
}

/***********************************************/
/* Console                                     */
/***********************************************/

.console {
  padding: 10px;
  white-space: nowrap;
  background: rgba($black, 0.7);
  font-family: 'Inconsolata';
  border: 1px solid #3f4549;
  color: #d0cfcf;
  border-radius: 5px;
  word-break: normal;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  .g  { color: #b4c978; }
  .gr { color: #97938c; font-style: italic; }
  .p { color: #af91bd; }
  .r { color: #c8484d; }
  .w { color: #ffffff; }
}

div.console { margin: 35px 0px; }
span.console {
  padding: 5px 8px;
  display: inline-block;
  width: auto;
  text-indent: 0px;
  line-height: 14px;
  vertical-align: bottom;
}
