
@mixin social-buttons($size: 150px, $font-size: 140px, $margin: 30px, $color: rgba(0,25,55,0.40)) {
 ul {
  padding: 0px;
    li { 
      width: $size; 
      height: size; 
      display: inline-block; 
      position: relative; 
      margin: $margin;
      i {
        padding: 10px;
        font-size: $font-size;
        width: $size;
        height: $size;
        color: $color;
        background: rgba(255,255,255,0.3);
        @include transition(all 0.5s ease);
        &:hover {
          color: #fff;
          &.fa-github { background: $github; }
          &.fa-twitter { background: $twitter; }
          &.fa-linkedin { background: $linkedin; }
          &.fa-facebook { background: $facebook; }
        }
      }
    }
  }
}

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
  @include border-right-radius($radius);
}

@mixin scaled-background($tag: '') {
  background-color: #101316;
  background-repeat: no-repeat;
  background-position: center top;
  @include media(new-breakpoint(min-width 2561px)) { background-image: url(asset-path("background/3200#{$tag}.jpg")); }
  @include media(new-breakpoint(min-width 1441px max-width 2560px)) { background-image: url(asset-path("background/2560#{$tag}.jpg")); }
  @include media(new-breakpoint(min-width 801px max-width 1440px)) { background-image: url(asset-path("background/1440#{$tag}.jpg")); }
  @include media(new-breakpoint(min-width 501px max-width 800px)) { background-image: url(asset-path("background/crop-800#{$tag}.jpg")); }
  @include media(new-breakpoint(min-width 1px max-width 500px)) { background-image: url(asset-path("background/crop-500#{$tag}.jpg")); }
}