
@mixin social-buttons($size: 150px, $font-size: 140px, $margin: 30px, $color: rgba(0,25,55,0.40)) {
 ul {
  padding: 0px;
    li { 
      width: $size; 
      height: size; 
      display: inline-block; 
      position: relative; 
      margin: $margin;
      i {
        padding: 10px;
        font-size: $font-size;
        width: $size;
        height: $size;
        color: $color;
        background: rgba(255,255,255,0.3);
        @include transition(all 0.5s ease);
        &:hover {
          color: #fff;
          &.fa-github { background: $github; }
          &.fa-twitter { background: $twitter; }
          &.fa-linkedin { background: $linkedin; }
          &.fa-facebook { background: $facebook; }
        }
      }
    }
  }
}

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
  @include border-right-radius($radius);
}