
body {
  @include font-feature-settings("liga");
  @include font-feature-settings("pnum", "kern" false);
  font-family: $body-font;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

///////////////////////////////////////
// Headers
///////////////////////////////////////

h1, h2, h3 {
  margin: 0;
  font-family: $header-font;
  font-weight: 400;
  color: $blue;
}

h1, h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

///////////////////////////////////////
// Links
///////////////////////////////////////

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

///////////////////////////////////////
// Typographic Containers
///////////////////////////////////////

p {
  margin-top: 0;
}

small {
  display: block;
  font-size: 9px;
  text-align: center;
}
