
// Colors
$white: #ffffff;
$blue: #0088cc;
$black: #000000;
$off-white: #ecf4f9;

// Social
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #0976b4;
$github: #333333;
$pinterest: #cc2127;
$google-plus: #dd4b39;
$google-plus-white: #e7e6dd;
$tumblr: #35465c;
$stumble-upon: #eb4924;

// Fonts
$logo-font: 'Fjalla One', sans-serif;
$header-font: 'Seans Other Hand', cursive;
$body-font: 'Open Sans';

// Responsive breakpoints
@import "neat-helpers";
$tiny: new-breakpoint(max-width 450px);
$small: new-breakpoint(max-width 590px);
$mobile: new-breakpoint(max-width 767px);
$not-mobile: new-breakpoint(min-width 768px);
$tablet: new-breakpoint(min-width 768px max-width 979px);
$not-desktop: new-breakpoint(max-width 979px);
$desktop: new-breakpoint(min-width 980px);
