

// Backgrounds
$background: #101316 url(asset-path('background.jpg')) no-repeat center top;
$background-blurred: #101316 url(asset-path('background-blurred.jpg')) no-repeat center top;

// Social
$facebook: rgba(60,91,146,0.8);
$twitter: rgba(6,173,231,0.8);
$linkedin: rgba(72,117,180,0.8);
$github: rgba(50,50,50,0.8);

@import "neat-helpers";
// Responsive breakpoints
$tiny: new-breakpoint(max-width 450px);
$small: new-breakpoint(max-width 590px);
$mobile: new-breakpoint(max-width 767px);
$not-mobile: new-breakpoint(min-width 768px);
$tablet: new-breakpoint(min-width 768px max-width 979px);
$not-desktop: new-breakpoint(max-width 979px);
$desktop: new-breakpoint(min-width 980px);