
html.admin {
  
  body {
    padding:30px;
    font-family: $helvetica;  
        
    ////////////////////////////////////////////////
    // Utility
    ////////////////////////////////////////////////
    
    .flash.alert {
      width:500px;
      margin-left:-250px;
      left:50%;
      position:absolute;
      text-align:center;
    }
    
    .alert-error h4 {
      margin-bottom:10px;
    }

    .field_with_errors input, .field_with_errors textarea {
      border:1px solid #b94a48;
    }
    
    .btn {
      @include button;
    }

    ////////////////////////////////////////////////
    // Layout
    ////////////////////////////////////////////////

    nav {
      margin-bottom:30px;
      .logo { color:#000000; font-size:50px; font-family:'Fjalla One', sans-serif; margin-right:15px; }
      a { margin-left:15px; margin-right:15px; font-size:20px; }
    }
    
    h1 { font-size:30px; font-weight:bold; }
    table { margin-top:10px;
      th { text-align: left; }
      td { vertical-align:middle; padding: 5px; } 
      form { margin:0px; float:right; }
    }
    
    ////////////////////////////////////////////////
    // Forms
    ////////////////////////////////////////////////
    .form-horizontal {
      label { padding-right:10px; width:100px; }
      input[type=submit] { margin-left: 110px; }
      
      .post-image {
        img { margin-left:110px; margin-bottom:20px; }
      }
    }
    
    // make the fields a bit wider for the posts page
    .long-fields {
      input[type=text] { width:600px; }
      textarea { width:600px; height:150px; }
    }
  }
  
}