// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.main.blog {

  // Fix Facebook Recommend Box
  .fb-like { z-index: 9999; }
  .fbpdl { ;z-index: 9999 !important; overflow: visible; }
  .pam { z-index: 9999 !important; overflow: visible; }
  .execphpwidget { z-index: 9999 !important; overflow: visible; }
  .fb-like span { z-index: 9999 !important; overflow: visible; }

  // Fix Facebook Comments
  .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe { width: 100% !important; }

  section#page {
    padding-top: 100px !important;
    div#articles {
      @include media($not-mobile) { @include span-columns(9); }

      article {
        overflow: auto;
        margin: 20px 0px;

        a.photo {
          position: relative;
          float: left;
          width: 250px;
          height: 150px;
          margin: 0px 15px 15px 0px;

          // Date
          .calendar {
            position:absolute;
            z-index:10;
            background:rgba(0,0,0,0.65);
            width:63px;
            height:150px;

            span {
              display:block;
              width:65px;

              &.day {
                font-size:46px; font-weight:bold; color:#ffffff;
                line-height:15px; text-align:center; padding-top:15px; }
              &.month {
                font-size:9px; color:#ffffff; padding-top:5px;
                line-height:17px; text-align:center; }
              &.year {
                position:absolute; top:130px; left:6px;
                font-size:9px; color:#2d648b; font-weight:bold;
                line-height:17px; }
            }
          }
          &:after {
            content: '';
            width: 250px;
            height: 150px;
            position: absolute;
            top: 0px;
            z-index: 6;
            box-shadow: 0px 0px 20px 6px #000 inset;
          }
        }

        h2 {
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 32px;
          margin: 0px;
          line-height: 40px;
        }

        p {
          display: block;
          text-indent: 20px;
          padding: 0px;
        }
      }
    }
    aside {
      padding-top: 20px;
      text-align: center;
      @include media($not-mobile) { 
        @include span-columns(3); 
      }

      article {
        padding: 15px 0px;
        h3 {
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 24px;
          margin-bottom: 0px;
        }
        span.blurb {
          font-size: 12px;
        }

        @include social-buttons(70px, 60px, 5px);
      }
    }
  }

  // Article
  .post {
    h5 {
      text-align:right;
      background-color:#000000;
      padding:10px;
      top:-10px;
      position:relative;
    }

    .photo-holder {
      width:270px;
      height:150px;
      float:left;

      // Image
      .post-photo {
        position:absolute;
        z-index:5;
      }

      // Inner Shadow for Image
      .post-photo-shadowed {
        position:absolute;
        z-index:6;
        box-shadow:0px 0px 15px 10px #000000 inset;
        width:250px;
        height:150px;
      }

      // Date
      .calendar {
        position:absolute;
        z-index:10;
        background:rgba(0,0,0,0.75);
        width:63px;
        height:150px;

        span {
          display:block;
          width:65px;

          &.day {
            font-size:46px; font-weight:bold; color:#ffffff;
            line-height:15px; text-align:center; padding-top:15px; }
          &.month {
            font-size:9px; color:#ffffff; padding-top:5px;
            line-height:17px; text-align:center; }
          &.year {
            position:absolute; top:130px; left:6px;
            font-size:9px; color:#2d648b; font-weight:bold;
            line-height:17px; }
        }
      }

      // Details
      .post-details {
        position:absolute;
        top:160px;
        padding:10px;
        width:230px;
        text-align:right;
        height:18px;
        background-color:#000000;
      }
    }

    // Article Photo
    .article-photo {
      margin-top:7px;
    }

    .photo-shadow {
      position:absolute; z-index:6; top:18px;
      box-shadow:0px 0px 25px 20px #000000 inset;
      width:100%;
      height:500px;
    }

    // Body
    .body {
      display:block;
      text-indent:20px;
    }
  }

  ////////////////////////////////
  // Typography
  ////////////////////////////////

  code {
    text-indent:0px;
    padding-top:4px;
    background-color:#353535;
    border-color:#5e5e5e;
    color:#709dbd;
  }

}