<% content_for :page_header do %>
	<h1>Edit Admin</h1>
<% end %>

<p>
	<%= link_to 'Back', admin_admins_path, class: 'pure-button' %>
</p>

<%= form_for [:admin, @admin], html: { class: 'pure-form pure-form-stacked' } do |f| %>
	<%= render partial: "form", formats: [:html], locals: { f: f } %>
<% end %>
