<% content_for :page_header do %>
	<h1>New Admin</h1>
<% end %>

<%= form_for [:admin, @admin], html: { class: 'pure-form pure-form-stacked' } do |f| %>
	<%= render partial: "form", formats: [:html], locals: { f: f } %>
<% end %>
