<% content_for :page_header do %>
	<h1>Edit Post</h1>
	<h2><%= @post.title %></h2>
<% end %>

<p>
	<%= link_to 'Back', admin_posts_path, class: 'pure-button' %>
</p>

<%= form_for [:admin, @post], html: { class: 'pure-form pure-form-stacked' } do |f| %>
	<%= render partial: "form", formats: [:html], locals: { f: f } %>
<% end %>
