
<h1 id="changeme">Hi. I'm a Software Engineer.</h1>
<article>
  <p>
    My name is Jeff Miller and I enjoy creating software. In particular, I enjoy
    exploring the ever evolving & challanging world of web and mobile
    application development. I am currently a Senior Full Stack Engineer over at
    <%= link_to 'Cognoa', 'http://www.cognoa.com', target: '_blank' %>,
    whose mission is to employ big data and machine learning to vastly improve
    early childhood detection of developmental disabilities including autism.
  </p>
  <p>
    I set up this website/testbed to share some of my projects, experiences,
    and thoughts on what I've learned over the years working and living in
    Silicon Valley. My hope is that something I share here can help you get
    inspired, solve something, or at least provide some insight about
    programming or whatever else I decide to write about.
  </p>
</article>

<% content_for :footer do %>
  <%= render 'layouts/social_links' %>
<% end %>
