
<h1>Hi. I'm a Software Engineer.</h1>
<article data-background='blurred'>
  <p>
    My name is Jeff Miller and I enjoy creating software. Particularly, I like Ruby on Rails and exploring the world of web applications
    not only for desktop, but also for mobile. I am currently an engineer over at <%= link_to 'Funny or Die', 'http://www.funnyordie.com', target: '_blank' %>
    in the beautiful Bay Area of California.
  </p>
  <p>
    I've set up this website to act as not only a portfolio, but also a blog and test bed to share some of the projects I've worked on and things I've
    learned over the years. My hope is that something I share here can help, inspire, or at least provide some insight about programming or whatever
    else I decide to write about.
  </p>
</article>

<% content_for :footer do %>
  <ul class="social-icons">
    <li class="github">
      <i class="fa fa-github"></i>
    </li>
    <li class="twitter">
      <i class="fa fa-twitter"></i>
    </li>
    <li class="linkedin">
      <i class="fa fa-linkedin"></i>
    </li>
    <li class="facebook">
      <i class="fa fa-facebook"></i>
    </li>
  </ul>
<% end %>