<h1>Hi. I'm a Software Engineer.</h1>
<article class="glass-box">
  <p>
    My name is Jeff Miller and I enjoy creating software. Particularly, I like Ruby on Rails and exploring the world of web applications 
    not only for desktop, but also for mobile. I am currently an engineer over at <%= link_to 'Funny or Die', 'http://www.funnyordie.com', target: '_blank' %>
    in the beautiful Bay Area of California.
  </p>
  <p>
    You've somehow stumped upon my little slice of the internet that I am attempting to call my home. And by that, I mean as a means of sharing some of 
    my work that I've done over the years. Whether or not my posts suck, well -- whatever. My hope is that something that I share here helps or inspires
    someone (maybe you!) to get interested in or at least provide a bit of insight about programming.
  </p>
</article>