<article class="glass">
  <a href="<%= about_path %>">
    <%= image_tag('me.png') %>
    <h3>Jeff Miller</h3>
  </a>
  <span class="blurb">
    Conducting code in the Bay -- Hella.
  </span>
  <%= render partial: 'layouts/social_links', formats: [:html] %>
</article>
