body.blog.show {

  article.post {
    padding: 0px;

    figure {
      position: relative;
      margin: 0px;
      max-height: 350px;
      background-size: cover;
      background-position: center center;
      border-top-left-radius: $article-border-radius;
      border-top-right-radius: $article-border-radius;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-bottom: 95%;
      }

      figcaption {
        @include position(absolute, null 0 0 0);
        padding: 4em 2% 2%;
        @include background-image(linear-gradient(bottom, rgba(0,0,0,0.8) 45%, rgba(0,0,0,0) 100%));

        h1 {
          margin-bottom: 1%;
          text-align: center;
          font-size: 48px;
          white-space: pre-line;
          color: $white;
        }

        span {
          display: block;
          font-size: 12px;
          text-align: right;
        }
      }
    }

    .post-content {
      padding: 1.25em;
    }

    h2 {
      display: inline-block;
      margin: 1.5em auto 0.25em -30px;
      padding: 2px 25px 5px;
      border-radius: 0.25em;
      background-color: #0080bf;
      background-image: url(asset-path('textures/otis-redding.png'));
      box-shadow: -20px 7px 40px -10px rgba(0,0,0,0.7),inset 0px 1px 0px 0px rgba(255,255,255,0.15),inset 0px -1px 0px 0px rgba(0,0,0,0.25),inset 10px 0px 75px -10px rgba(0,0,0,0.8);
      text-shadow: 0px 1px 0px rgba(255,255,255,0.25);
      color: #01202f;
    }
  }

  .related-posts {
    h4 {
      margin: 0px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      color: $blue;
      font-family: $header-font;
      font-size : 20px;
      line-height: 20px;
    }
    a {
      border-top: 1px solid rgba(255,255,255,0.05);
      border-bottom: 1px solid rgba(0,0,0,0.3);
      color: $white;
      font-weight: 300;
      display: block;
      padding: 12px 1.25em;
      font-size: 16px;
    }
  }
}
//
//   main {
//     @include display(flex);
//
//     & > section {
//       @include display(flex);
//       @include flex-direction(column);
//       @include flex(1);
//       padding-right: 1.45em;
//     }
//   }
//
//
//     .post-body-wrapper {
//       padding: 0% 2.5% 1.5%;
//     }
//

//
//     // Console
//     .console {
//       width: 100%;
//       white-space: nowrap;
//       background: #000000;
//       font-family: 'Inconsolata';
//       padding: 10px;
//       border: 1px solid #5e5e5e;
//       color: #d0cfcf;
//       border-radius: 5px;
//       word-break: normal;
//       overflow-x: scroll;
//       -ms-overflow-style: -ms-autohiding-scrollbar;
//       .g  { color: #b4c978; }
//       .gr { color: #97938c; font-style: italic; }
//       .p { color: #af91bd; }
//       .r { color: #c8484d; }
//       .w { color: #ffffff; }
//     }
//
//     div.console { margin: 35px 0px; }
//     span.console {
//       padding: 5px 8px;
//       display: inline-block;
//       width: auto;
//       text-indent: 0px;
//       line-height: 14px;
//       vertical-align: bottom;
//     }
//   }
//
//
// }
