body.blog aside {
  text-align: center;

  article {
    padding: 1.25em 0em 0em;
  }

  #me {
    figure {
      margin: 10px auto;
      @include size(125px);
      border-radius: 125px;
      background-size: cover;
    }
  }

  #social-links {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-top: 2em;
    background-color: rgba($white,0.85);
    box-shadow: inset 0px 7px 40px 0px rgba(13, 18, 25, 0.51);
    border-bottom-left-radius: $article-border-radius;
    border-bottom-right-radius: $article-border-radius;

    & > a {
      &:first-child {
        @include flex(2.5);
        font-size: 3vw;
        color: $black;
      }

      &:nth-child(n+2) {
        @include flex(1);
        position: relative;
        padding: 6px 0px 5px;
        font-size: 12vw;
        line-height: 1em;

        &.github { background: shade($github, 0%); }
        &.twitter { background: shade($twitter, 25%); }
        &.linkedin { background: shade($linkedin, 25%); }
        &.facebook { background: shade($facebook, 25%); }
        i { color: rgba($off-white, 0.85); }
      }

      &:last-child {
        border-bottom-right-radius: $article-border-radius;
      }
    }
  }

  /***********************************************/
  /* Desktop ( > 768px )                         */
  /***********************************************/

  @media(min-width: 768px) {
    min-width: 278px;
    max-width: 278px;

    #me {
      figure {
        position: relative;
        &:before {
          content: "jeff@humani.se";
          @include position(absolute, -1px);
          @include display(flex);
          @include align-items(center);
          @include justify-content(center);
          border-radius: 125px;
          font-size: 14px;
          opacity: 0;
          @include transition(all 0.2s);
          color: #fff;
        }
      }

      &:hover {
        figure:before {
          background-color: rgba($black, 0.85);
          opacity: 1;
        }
      }
    }

    .blurb {
      font-size: 14px;
    }

    #social-links {
      a {
        font-size: 46px !important;
        @include transition(all 0.2s);
        &#social-email { display: none; }
        &:nth-child(2) { border-bottom-left-radius: $article-border-radius; }
        &:hover {
          background: rgba($off-white, 0.1) !important;
          &.github i { color: shade($github, 0%); }
          &.twitter i { color: shade($twitter, 25%); }
          &.linkedin i { color: shade($linkedin, 25%); }
          &.facebook i { color: shade($facebook, 25%); }
        }
      }
    }
  }
}
