
<h1>
  Hi. I'm an Engineering Leader.
</h1>

<article>
  <p>
    My name is Jeff Miller, and I’m a technology leader who has spent nearly two decades turning 
    innovative ideas into real-world solutions that make a difference.
    I believe in technology’s potential to create real, positive impact, and I’m driven 
    by a simple goal: to humanize tech. Whether scaling startups, leading teams, or mentoring 
    others, I focus on empowering people and delivering results that matter. My leadership style 
    is rooted in empathy and purpose—I strive not just to deliver results, but to ensure those 
    results have lasting, meaningful impact.
  </p>
  <p>
    With experience spanning engineering, data science, and leadership, I’ve guided cross-functional 
    teams through complex challenges, always striving to build tech that matters. From developing 
    innovative solutions to creating cohesive, high-performing teams, my goal is always the same: to 
    leave the world better than I found it through technology.
  </p>
  <p>
    After nearly 15 years in the Bay Area, I currently live in Carlsbad, CA, with my wife and 
    two young daughters. Balancing the demands of leadership with family life, I remain as 
    committed as ever to building a future where technology is a force for good.
  </p>
</article>

<footer>
  <div id="social-links">
    <%= link_to "https://www.linkedin.com/in/ibanez270dx", target: :blank, class: "hu-linkedin-cutout" do %>
      <i class="hu-linkedin"></i>
    <% end %>
  
    <%= link_to "jeff-miller-resume.pdf", target: :blank, class: "hu-resume-cutout" do %>
      <i class="hu-resume"></i>
    <% end %>
  
    <%= link_to "https://github.com/ibanez270dx", target: :blank, class: "hu-github-cutout" do %>
      <i class="hu-github"></i>
    <% end %>
  </div>
</footer>