<%
  social = {
    github: 'http://www.github.com/ibanez270dx',
    twitter: 'http://www.twitter.com/ibanez270dx',
    linkedin: 'http://www.linkedin.com/in/ibanez270dx',
    facebook: 'http://www.facebook.com/ibanez270dx'
  }
%>

<ul class="social-icons">
  <% social.each do |network, url| %>
    <li>
      <%= link_to url, class: network do %>
        <i class="hu-<%= network %>"></i>
        <i class="hu-<%= network %>-cutout"></i>
      <% end %>
    </li>
  <% end %>
</ul>
