<div id="social-links">
  <% SOCIAL.each do |network, url| %>
    <%= link_to url, target: '_blank', class: "hu-#{network}-cutout" do %>
      <i class="hu-<%= network %>"></i>
    <% end %>
  <% end %>
</div>
